/CardBattle/.txt
/CardBattle/Graph.png
Library/
APIUpdater
/Library/SourceAssetDB
ArtifactDB
Artifacts
/Unity.Burst.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Mathematics.csproj
/Unity.Mathematics.Editor.csproj
/Unity.ML-Agents.CommunicatorObjects.csproj
/Unity.ML-Agents.csproj
/Unity.ML-Agents.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
/Assembly-CSharp.csproj
/Barracuda.csproj
/Barracuda-editor.csproj
/BurstBLAS.csproj
/CardBattle.csproj
/iOSBLAS.csproj
/MacBLAS.csproj
/Unity.Burst.csproj
/.vs
CardBattle_vsHeuristic2P
Library
StateCache
__pycache__
